@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/******************MIXIN*****************/
/*Aide par un générateur de Gradient : https://cssgradient.io/*/
/*mes polices d'écriture*/
/*mes couleurs*/
/*magin + padding*/
body, html {
  margin: 0px;
  font-family: 'roboto', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: auto;
  height: auto;
  width: auto;
  position: relative;
}

.header {
  padding: 16px 16px;
  -webkit-box-shadow: 0px 0px 8px 0px #3636363a;
          box-shadow: 0px 0px 8px 0px #3636363a;
  position: relative;
  z-index: 1000;
}

.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0px;
  text-align: center;
}

.footer {
  background-color: #363636;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
}

.footer__logo {
  color: #F6F6F6;
  font-family: "Shrikhand", "cursive";
  margin: 0px;
  font-size: 19px;
  margin-bottom: 16px;
}

.footer__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer__listElt {
  margin: 8px 0px;
}

.footer__listElt:first-child {
  margin-top: 0px;
}

.footer__listElt:last-child {
  margin-bottom: 0px;
}

.footer__link {
  color: #F6F6F6;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__icon {
  width: 19px;
  margin-right: 8px;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 36px;
  background-color: #eaeaea;
  font-size: 20px;
  position: relative;
}

.localisation__icon {
  margin-right: 16px;
}

.localisation__text {
  font-weight: 700;
}

.choice {
  padding: 32px;
  text-align: center;
  background-color: #f6f6f6;
}

.choice__title {
  margin: 0px;
}

.choice__subtitle {
  font-weight: 300;
  margin: 24px 0px;
}

.choice__btn {
  border: 0px;
  padding: 12px 12px;
  font-weight: 500px;
  font-size: 18px;
  border-radius: 100px;
  color: white;
  background: #FF79DA;
  background: linear-gradient(170deg, #FF79DA 19%, #9256DC 100%);
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 19x 19px 10px #363636;
          box-shadow: 19x 19px 10px #363636;
}

.choice__btn:hover {
  background-color: white;
  -webkit-box-shadow: 6px 6px 10px #363636;
          box-shadow: 6px 6px 10px #363636;
}

.choice__btn a {
  text-decoration: none;
  color: inherit;
}

.scrolling {
  padding: 32px 16px;
}

.scrolling__title {
  margin-top: 0px;
}

.scrolling__steps {
  margin: 0px;
  padding: 0px;
  list-style: none;
  counter-reset: ChangeListe;
}

@media (min-width: 1024px) {
  .scrolling__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.scrolling__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 4px 4px 8px #3636363a;
          box-shadow: 4px 4px 8px #3636363a;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding: 24px;
  margin: 16px 0px 16px 12px;
  position: relative;
}

@media (min-width: 1024px) {
  .scrolling__step {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0px;
    margin-left: 32px;
  }
  .scrolling__step:first-child {
    margin-top: 12px;
  }
}

.scrolling__step:first-child {
  margin-top: 0px;
}

.scrolling__step:last-child {
  margin-bottom: 0px;
}

.scrolling__step::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-increment: ChangeList 1;
  content: counter(ChangeList) " ";
  background-color: #9256DC;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  color: #eaeaea;
  position: absolute;
  left: -12px;
}

.scrolling__icon {
  margin-right: 16px;
  color: #818181;
}

.restaurants {
  background-color: #eaeaea;
  padding: 32px 16px;
}

.blocs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  background: #f6f6f6;
}

@media (min-width: 1024px) {
  .blocs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.bloc {
  display: block;
  background-color: #FFF;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 20px;
}

.bloc__img {
  height: 192px;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 16px 16px 0px 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.bloc__pins {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}

.bloc__footer {
  padding: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bloc__title {
  margin: 0;
  margin-bottom: 4px;
}

.bloc__subtitle {
  margin: 0px;
}

.bloc__btn {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc__like {
  background-color: #FFF !important;
}

.menu {
  margin-top: -64px;
  border-radius: 32px 32px 0px 0px;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}

.menu__header {
  padding: 16px 32px 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__title {
  font-family: "Shrikhand", "cursive";
}

.menu__btn {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.menu__btn:hover::before {
  opacity: 1;
}

.menu__btn::before {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#9256DC), to(#FF79DA));
  background: linear-gradient(0deg, #9256DC 0%, #FF79DA 100%);
}

.menu__like {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: lighten;
}

.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

.choiceImg {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header--withBackArrow {
  position: relative;
}

.header__arrow {
  position: absolute;
  left: 32px;
  height: 32px;
  width: 32px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 19px;
  color: black;
}

/****A FAIRE ****/
@-webkit-keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */