$color__primary: #9356DC;
$color__secondary: #FF79DA;
$color__tertiary: #99E2D0;    

.name_img{
    display: grid;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
    height: 50%;
    width: 50%;
}
