/****************************************
  LOCALISATION RESTOS
****************************************/

.localisation{
  display: flex;
  justify-content: center;
  padding: 20px + $appPadding;
  background-color: $Pale;
  font-size: 20px;
  position: relative;
  
  &__icon{
    margin-right: 16px;
  }

  &__text{
    font-weight: 700;
    font-family: $font-general;
  }
}

/****************************************
  TEXTE DE PRESENTATION + BUTTON
****************************************/
.choice{
  padding: 32px;
  text-align: center;
  background-color: $Pale2;

  &__title {
    margin: 0px;
  }

  &__subtitle {
    font-weight: 300;
    margin: 24px 0px;
  }

  &__btn {
    @include button(primary);
  }
}

/****************************************
  SECTION FONCTIONNEMENT "SCROLLING"
****************************************/
.scrolling{
  padding: ($appPadding + 16px) $appPadding;

  &__title{
    margin-top: 0px;
  }

  &__steps{
    margin: 0px;
    padding: 0px;
    list-style: none;
    counter-reset: ChangeListe;

    @media (min-width: 1024px){
      display: flex;
    }
  }

  &__step{
    display: flex;
    box-shadow: 4px 4px 8px $blackeraser;
    border-radius: 20px;
    background-color: $Pale2;
    padding: 24px;
    margin: 16px 0px 16px 12px;
    position: relative;

    &:hover{
      background: $Pinkgirly;
    }

    @media (min-width:1024px){
      flex: 1;
      margin: 0px;
      margin-left: 32px;

      &:first-child{
        margin-top: 12px;
      }
    }

    &:first-child{
      margin-top: 0px;
    }

    &:last-child{
      margin-bottom: 0px;
    }

    &::before{
      display: flex;
      justify-content: center;
      align-items: center;
      counter-increment: ChangeList 1;
      content: counter(ChangeList) " ";
      background-color: $Primary;
      height: 24px;
      width: 24px;
      border-radius: 100px;
      color: $Pale;
      position: absolute;
      left: -12px;
    }
  }

  &__icon{
    margin-right: 16px;
    color: $Black;

    &:hover{
      color: $Primary;
    }
  }
}

/****************************************
  MISE-EN-PAGE RESTOS   "BLOC COMPLET"
****************************************/
.restaurants{
  background-color: $Pale;
  padding: ($appPadding + 16px) $appPadding;
}

.blocs {
    display: grid;
    grid-template-columns:  1fr;
    -ms-grid-columns: 1fr;
    background: $Pale2;
    @media (min-width:1024px) {
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-columns: repeat(2, 1fr);
    }
}

  .bloc{   
    display: block;
    background-color: #FFF;
    border-radius: 16px;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 20px;
    

    &__img {
      height: 192px;
      width: 100%;
      border: transparent solid 0px;
      border-radius: 16px 16px 0px 0px;
      box-shadow: none;
      object-fit: cover;
   }

    &__pins {
      background-color: $Tertiary;
      color: darken($Tertiary, 50%);
      padding: 8px;
      border-radius: 2px;
      position: absolute;
      top: 16px;
      right: 12px;
    }

    &__footer {
      padding: 16px;
      position: relative;
      display: flex;
      align-items: center;
    }

    &__content {
      flex: 1;
    }

    &__title {
      margin: 0;
      margin-bottom: 4px;
    }

    &__subtitle {
      margin: 0px;
    }

    &__btn {
      height: 32px;
      width: 32px;
      background-color: transparent;
      border: transparent 0px solid;
      padding: 0px;
      display:flex;
      align-items:center;
      justify-content:center;
    }

    &__like{
      background-color: $WhiteMenu !important;
    }
}

