/*mes polices d'écriture*/
$font-general: 'Roboto', sans-serif;
$font-thingeneral: 'Roboto Thin', sans-serif;
$font-title: 'Shrikhand'; 

/*mes couleurs*/
$Primary: #9256DC;
$Secondary: #FF79DA;
$Tertiary: #99E2D0;
$Menthol: #278666;
$Grey: #818181;
$Pinkgrily: #D579D5;
$Lighertertia: #9AE2D0;
$Pale:rgb(234,234,234);
$Pale2:rgb(246,246,246);
$Black: #363636;
$blackeraser: #3636363a;
$White: #F6F6F6;

/*magin + padding*/
$appPadding: 16px;