/*Document*/

//correction des hauteur de ligne dans tous les navigateurs

html{
    line-height: 1.20;
}

/*Section*/

body{       //Sup la marge
    margin: 0px;    
}

main{       //rend mon main cohérent
    display: block;     
    /*Notion prise sur https://developer.mozilla.org/fr/docs/Learn/Tools_and_testing/Cross_browser_testing/HTML_and_CSS#ie_conditional_comments*/
}

h1{     //Corrige la police et la marge de tous mes H1
    font-size: 32px; 
    margin: 10px 0px;
}

